<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>iMovie Register</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/movie.png') }}">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

</head>

<body>
    <div class="options">
        <a href="/advancedop">Advanced Operations</a>
        <a href="/login">Login</a>
    </div>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>For Movies.</h1>
                <p>Register To Explore the Movies for yourself.</p>
            </div>
        </div>


        <div class="right">
            <h5>Register</h5>
            <p>Already Have an account? Return to <a href="/login">log in</a> </p>
            <div class="inputs">
                <input type="text" id="regname" placeholder="user name">
                <br>
                <input type="password" id="regpassword" placeholder="password">
                <br>
                <input type="number" id="regage" placeholder="age">
            </div>
            <div class="checkrow">
                <div class="checkbox">
                    <input type="checkbox" id="Animation">
                    <span class="label">Animation</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Comedy">
                    <span class="label">Comedy
                    </span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Adventure">
                    <span class="label">Adventure
                    </span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Action">
                    <span class="label">Action
                    </span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Romance">
                    <span class="label">Romance
                    </span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="War">
                    <span class="label">War
                    </span>
                </div>
            </div>

            <br><br>

            <br>
            <button type="button" class="btn btn-outline-info btn-sm" id="registerbtn" data-source="Register">Create Account</button>
        </div>

    </div>
    <!-- partial -->

</body>

<!-- Scripts Section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/logreg.js') }}"></script>

</html>